.output {
    flex: 1;
    margin-top: 20px;
    overflow-y: scroll;
    width: 100%;

    tr,
    th {
        flex-direction: row;
        display: flex;
        flex: 1;
        padding: 10px;
        font-family: monospace;
    }
    th {
        text-align: left;
    }
    tr:nth-child(even) {
        background: rgb(244, 244, 244);
    }
    tr:nth-child(odd) {
        background: #fff;
    }
    .index {
        width: 100px;
        min-width: 100px;
    }
    .value {
        flex-grow: 1;
    }
    .header {
        font-weight: bold;
    }
}
