.output {
    flex: 1;
    margin-top: 20px;
    overflow-y: scroll;

    .row {
        flex-direction: row;
        display: flex;
        flex: 1;
        padding: 10px;
        font-family: monospace;
    }
    .row:nth-child(even) {
        background: rgb(244, 244, 244);
    }
    .row:nth-child(odd) {
        background: #fff;
    }
    .index {
        min-width: 100px;
    }
    .value {
        flex-grow: 1;
    }
    .header {
        font-weight: bold;
    }
}
